# File managed by puppet.

[Unit]
Description=Minecraft worlds backup
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-minecraft-worlds
User=root