# File managed by puppet.

[Unit]
Description=Minecraft full backup
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-minecraft-full
User=root