# File managed by puppet.

[Unit]
Description=Docker backup
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
Unit=backup-docker.service
OnCalendar=*-*-* 03:00:00

[Install]
WantedBy=default.target