# File managed by puppet.

[Unit]
Description=Docker backup
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-docker
User=root